<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>
            PROYECTO WEB
        </title>
        
        
    </head>
    </head>
    <body>
        <header>
            <div id="logotipo">
                
                <h1>Proyecto Web (LP3)</h1>
            </div>
        </header>
        <nav>        
            <ul>
                <li>
                    <a href="/inicio"> Inicio</a>
                </li>

                <li>
                    <a href="/integrantes"> Integrantes</a>
                </li>

                <li>
                    <a href="/crear_docente"> Crear Docente</a>
                </li>
                <li>
                    <a href="/listar_docentes"> Listar Docentes</a>
                </li>    
                <li>
                    <a href="/crear_curso"> Crear Curso</a>
                </li>
                <li>
                    <a href="/listar_cursos"> Listar Cursos </a>
                </li>
            </ul>
        </nav>        
        <div class="barra">
            <span class="esquina-izquierda"></span>
            <span class="relleno-barra"></span>
            <span class="esquina-derecha"></span>
        </div>
        <div id="content">
            <div class="box">
                
                {% block content %}
                    <strong> Contenido en layout </strong>
                {% endblock %}
            </div>
        </div>
        <footer>
            
        </footer>
    </body>
</html>